/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode
        ]
    }
    withName: FASTP {
        ext.args = { [ 
            '--detect_adapter_for_pe',
            '--cut_tail',
            "--cut_mean_quality ${params.trim_quality}",
            "--length_required ${params.trim_min_length}"
        ].join(' ')}
        publishDir = [
            path: { "${params.outdir}/fastp" },
            mode: params.publish_dir_mode,
            pattern: '*.{json,html,log}'
        ]
    }

    withName: 'CAT_FASTQ' {
        publishDir = [ enabled: false ]
    }

    withName: 'HISAT2_EXTRACTSPLICESITES|HISAT2_BUILD' {
        publishDir = [ enabled: false ]
    }

    withName: 'HISAT2_ALIGN' {
        publishDir = [
            path: { "${params.outdir}/hisat2/log" },
            mode: params.publish_dir_mode,
            pattern: '*.log'
        ]
    }

    withName: 'SAMTOOLS_SORT_NAME' {
        ext.args = '-n'
        ext.prefix = { "${meta.id}.namesorted" }
        publishDir = [ enabled: false ]
    }

    withName: 'SAMTOOLS_FIXMATE' {
        ext.args = '-m'     // REQUIRED for samtrools markdup
        ext.prefix = { "${meta.id}.fixmate" }
        publishDir = [ enabled: false ]     // intermediate file
    }

    withName: 'SAMTOOLS_SORT_COORD' {
        ext.prefix = { "${meta.id}.sorted" }

        publishDir = [ enabled: false ]
    }

    withName: 'SAMTOOLS_MARKDUP' {
        ext.args = ''       // only mark duplicates; use '-r' to remove them
        ext.prefix = { "${meta.id}.markdup" }
        publishDir = [
            path: { "${params.outdir}/samtools/markdup" },
            mode: params.publish_dir_mode,
            pattern: '*.bam'
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/samtools/markdup" },
            mode: params.publish_dir_mode,
            pattern: '*.bai'
        ]
    }

    withName: 'SAMTOOLS_FLAGSTAT' {
        publishDir = [
            path: { "${params.outdir}/samtools_stats" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SUBREAD_FEATURECOUNTS' {
        ext.args = {[
            '-t exon',
            '-g gene_id',
            meta.single_end ? '': '--countReadPairs'
        ].join(' ').trim()}
        publishDir = [
            path: { "${params.outdir}/featurecounts" },
            mode: params.publish_dir_mode,
            pattern: '*{tsv,summary}'
        ]
    }

    withName: 'FEATURECOUNTS_TPM' {
        publishDir = [
            path: { "${params.outdir}/tpm" },
            mode: params.publish_dir_mode,
            pattern: '*.tsv'
        ]
    }
}
